html, body {
	margin: 0;
	height: 100%;
	cursor: url('cursors/alt.cur'), auto;
}
body {
	background-color: #FFF;
}
#loader p {
	font-size: 1.8rem;
}
#container {
	display: none;
	height: 100%;
}
#content {
	display: flex;
	align-items: stretch;
	margin: 0;
	height: 100%;
}
::-webkit-scrollbar { 
    display: none; 
}
.panel {
	background-color: #FFF;
	padding: 0 30px 30px 30px;
	height: 93%;
	overflow: scroll;
	margin: 0;
	color: white;
	padding-top: 3%;
}
.panel * {
	margin: 10px 0 0 0;
}
#intro {
	float: left;
	width: 40%;
	background:
		linear-gradient(
			rgba(150, 150, 150, 0.6), 
      		rgba(0, 0, 0, 0.8)
    	),
		url("img/intro.jpg");
	background-size: auto 100%;
}
#posts {
	float: right;
	width: 60%;
	background:
		linear-gradient(
			rgba(0, 0, 0, 0.8), 
      		rgba(0, 0, 0, 0.8)
    	),
		url("img/posts.png");
	background-size: auto 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat';
}
#intro h1 {
	text-align: center;
}
h1 {
	font-size: 1.7rem;
}
h2 {
	font-size: 1.4rem;
}
h3 {
	font-size: 1.35rem;
}
h4 {
	font-size: 1.3rem;
}
p {
	font-family: 'Open Sans';
	font-size: 1rem;
}
#loader {
	display: inline;
	position: absolute;
	background-color: #FFF;
	padding: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	margin: auto;
	text-align: center;
	font-size: 2rem;
	opacity: 0;
	-webkit-transition: opacity 2s;
}
#loader img {
	display: block;
	margin: auto;
	margin-top: 8%;
}
#intro img {
	display: block;
	margin: auto;
	width: 130px;
	height: 130px;
}
#button {
	height: 6%;
	width: 9%;
	font-size: 1rem;
	font-style: normal;
	font-family: 'Open Sans';
	margin: auto;
	background-color: #000;
	color: white;
	opacity: 0.7;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	-webkit-transition: opacity 4s;
	cursor: url('cursors/link.cur'), pointer;
}
#button:hover {
	-webkit-transform: scale(1.1);
}
#button:active {
	cursor: url('cursors/move.cur'), auto;
}
a {
	cursor: url('cursors/link.cur'), auto;
}
/* unvisited link */
a:link {
    color: #7FDBFF;
}
/* visited link */
a:visited {
    color: #0074D9;
}
/* mouse over link */
a:hover {
    color: #DDD;
}
/* selected link */
a:active {
    color: #39CCCC;
    cursor: url('cursors/move.cur'), auto;
}
#fancy1 {
	height: 50px;
	width: 50px;
	border: 5px solid white;
	margin: auto;
	border-radius: 50%;
	display: flex;
	align-items: center;
	border-top: 5px solid transparent;
	animation: 4s spin infinite linear;
}
#fancy2 {
	height: 50%;
	width: 50%;
	border: 5px solid white;
	margin: auto;
	border-radius: 50%;
	border-bottom: 5px solid transparent;
	animation: 5s spin infinite;
}
@keyframes spin {
	from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
#spin {
	height: 125px;
	width: 125px;
	border: 8px solid white;
	border-radius: 50%;
	margin: auto;
	margin-bottom: -135px;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	animation: 6s spin linear infinite;
}
.stretch {
	height: 0;
	border: 2px solid white;
	width: 80%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}